@keyframes circle {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        border-width: 0px;
    }
    25% {
        -webkit-transform: scale(3);
        transform: scale(1.3);
        border-width: 0px;
        border-style: solid;
    }
    70% {
        border-width: 1px;
        border-style: solid;
        -webkit-transform: scale(1.7);
        transform: scale(1.7);
    }
    100% {
        border-width: 0px;
        box-shadow: 0 0 60px rgba(255, 255, 255, 0);
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes snake {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

.cta-box {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 999;
    outline: none;
}

.top_left {
    top: 10%;
    left: 30px;
}

.top_center {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.top_right {
    top: 10%;
    right: 30px;
}

.center_right {
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.bottom_right {
    right: 30px;
    bottom: 30px;
}

.bottom_center {
    bottom: 30px;
    left: 50%;
    transform: translateXs(-50%);
}

.bottom_left {
    bottom: 30px;
    left: 30px;
}

.center_left {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.cta-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    -moz-animation: snake 1.4s infinite;
    -webkit-animation: snake 1.4s infinite;
    animation: snake 1.4s infinite;
    box-shadow: 0px 0px 50px #afafaf;
}

.cta-image img {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.cat-phone {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    line-height: 20px;
    font-size: 20px;
    padding: 12px 18px 12px 36px;
    color: #fff;
    z-index: -1;
    border-radius: 0px 15px 15px 0px;
    opacity: 0.9;
}

.cat-phone a {
    color: #fff;
    text-decoration: none !important;
}

.cat-phone a:hover {
    color: #fff;
}

.top_right .cat-phone,
.center_right .cat-phone,
.bottom_right .cat-phone {
    left: unset;
    right: 40px;
    padding: 12px 36px 12px 18px;
    border-radius: 15px 0px 0px 15px;
}

.cta-animation {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    pointer-events: none;
    -moz-animation: circle 2s infinite;
    -webkit-animation: circle 2s infinite;
    animation: circle 2s infinite;
}